@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    width: 100%;
    height: 100%;
}

.container{
    height: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.first_section{
    width: 100%;
    height: 695px;
}

.contents_1{
    height: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

.hd_1{
    width: 100%;
    height: 100px;
}

.contents_hd_1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents_hd_1 ul{
    display: flex;
    align-items: center;
}

.contents_hd_1 ul li{
    margin-left: 60px;
}

.active{
    font-size: 16px;
    font-weight: 700;
    color: #212353;
}

.inactive{
    font-size: 16px;
    color: #4B5D68;
    font-weight: bold;
}

.btn_and_icon{
    border: none;
    border-radius: 100px;
    background-color: #fff;
    padding: 15px 20px 15px 20px;
    box-shadow: 0 1.3px 4px rgba(0, 0, 0, 0.016), 0 4.5px 13.4px rgba(0, 0, 0, 0.024), 0 20px 60px rgba(0, 0, 0, 0.04);
}

.btn_contents{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_hd_1{
    font-size: 12px;
    color: #212353;
    font-weight: 700;
}

.texts_and_img{
    z-index: 1;
    width: 100%;
    height: 595px;
}

.contents_2{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.texts_and_btn{
    width: 50%;
}

.texts_and_btn h1{
    width: 90%;
    font-size: 70px;
    color: #212353;
    font-weight: bold;
    margin-bottom: 40px;
}

.texts_and_btn p{
    width: 75%;
    font-size: 16px;
    color: #4B5D68;
    line-height: 25px;
    margin-bottom: 40px;
    text-align: justify;
}

.texts_and_btn button{
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 100px;
    background-color: #9C69E2;
    padding: 16px 35px 16px 35px;
}

.section_1_img{
    position: absolute;
    bottom: 115px;
    right: 0px;
    z-index: 0;
}

.section_1_img img{
    width: 685px;
}

.second_section{
    width: 100%;
    height: 695px;
}

.contents_3{
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1150px;
    align-items: center;
    justify-content: center;
}

.item_box{
    width: 100%;
    height: 600px;
    border-radius: 50px;
    background-color: #ffe8f6;
}

.box_contents{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box_texts{
    width: 50%;
}

.box_texts h1{
    width: 100%;
    font-size: 40px;
    color: #212353;
    font-weight: 700;
    margin-bottom: 30px;
}

.box_texts p{
    width: 95%;
    font-size: 16px;
    color: #4B5D68;
    line-height: 25px;
    text-align: justify;
}

.third_section{
    width: 100%;
    height: 1050px;
}

.contents_4{
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1150px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contents_4 h1{
    font-size: 40px;
    color: #212353;
    margin-bottom: 20px;
}

.contents_4_main_p{
    width: 40%;
    font-size: 16px;
    color: #4B5D68;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}

.row_1{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}

.first_card{
    width: 350px;
    height: 300px;
    padding: 25px;
    border-radius: 20px;
    background-color: #f0faf8;
}

.first_card_contents, .second_card_contents{
    width: 100%;
    height: 100%;
}

.first_card_contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 120px;
}

.img_card_1{
    position: absolute;
    left: 0;
}

.first_card_contents h2{
    font-weight: 400;
    color: #212353;
    margin-bottom: 20px;
}

.first_card_contents p{
    width: 90%;
    color: #4B5D68;
    text-align: justify;
    margin-bottom: 30px;
}

.learn_more{
    display: flex;
    align-items: center;
}

.learn_more a{
    color: #212353;
    font-weight: bold;
}

.second_card{
    width: 350px;
    height: 300px;
    padding: 25px;
    border-radius: 20px;
    background-color:#f3edfa;
}

.second_card_contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 120px 0px 0px;
}

.img_card_2{
    position: absolute;
    top: 45px;
    right: 0;
}

.second_card_contents h2{
    font-weight: 400;
    color: #212353;
    margin-bottom: 20px;
}

.second_card_contents p{
    width: 90%;
    color: #4B5D68;
    text-align: justify;
    margin-bottom: 30px;
}

.row_2{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}

.third_card{
    width: 350px;
    height: 300px;
    padding: 25px;
    border-radius: 20px;
    background-color: #fff0f9;
}

.third_card_contents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 120px;
}

.img_card_3{
    position: absolute;
    width: 230px;
    left: 0;
}

.third_card_contents h2{
    font-weight: 400;
    color: #212353;
    margin-bottom: 20px;
}

.third_card_contents p{
    width: 90%;
    color: #4B5D68;
    text-align: justify;
    margin-bottom: 30px;
}

.fourth_card{
    width: 350px;
    height: 300px;
    padding: 25px;
    border-radius: 20px;
    background-color: #f0faff;
}

.fourth_card_contents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 120px 0px 0px;
}

.img_card_4{
    position: absolute;
    top: 65px;
    right: 0;
}

.fourth_card_contents h2{
    font-weight: 400;
    color: #212353;
    margin-bottom: 20px;
}

.fourth_card_contents p{
    width: 90%;
    color: #4B5D68;
    text-align: justify;
    margin-bottom: 30px;
}